{#
/**
 * @file banner_slider.html.twig
 * Default theme implementation to present a banner slider.
 *
 * @see template_preprocess_banner_slider()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('image-slideshow') }}>
  {% for key, item in items %}
    <div{{ item_attributes[key].addClass('image-slideshow__item') }}>
      {% if banner_media and banner_media[key] %}
        {{ banner_media[key] }}
      {% elseif banner_videos and banner_videos[key] %}
        {{ banner_videos[key] }}
      {% endif %}
      <div class="image-slideshow__item__content grid-x">
        <div class="small-12 cell align-self-middle">
          {{ item }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
